body {
    background-color: black;
    color: white
}

input {
    font-family: monospace;
    width: 95%;
    border: none;
    background: none;
    color: white
}

input:disabled {
    background: none;
}

input:focus {
    outline: none !important;
    background: none;
}

#container {
    font-family: monospace;
}